.event-card, .classification-card {
    border: 1px solid rgb(241, 241, 241);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.event-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.event-field label {
    font-weight: bold;
}

.event-field label::after {
    content: ': '
}

.fields-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

td.bronze {
    background: #CD7F3250;
}

td.silver {
    background: #C0C0C050;
}

td.gold {
    background: #FFD70050;
}

td.iron {
    background: #0505054F;
}

tr.highlight {
    background: aquamarine;
}

a {
    color:#4183C4;
}

a:hover {
    color:#156cc2;
}

body {
    background-color: #fefefe;
    color: #0a0a0a;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 80%;
    min-width: 500px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    border-radius: 0;
    width: 100%;
}

tbody {
    border: 1px solid rgb(241, 241, 241);
}

tbody tr {
    border: 1px solid rgb(241, 241, 241);
}

thead th, thead td, tfoot th, tfoot td, tbody td, tbody th {
    padding: 0.5rem 0.7rem 0.7rem;
}

thead, tfoot {
    border: 1px solid rgb(241, 241, 241);
    background-color: rgb(248, 248, 248);
    text-align: center;
}

thead th, thead td, tfoot th, tfoot td {
    padding: 0.5rem 0.7rem 0.7rem;
    font-weight: bold;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

td.number, th.number {
    text-align: center;
}

